body {
	min-width: 300px;
}

select {
	width: 125px;
}

.container {
	margin: 0 auto;
	width: 85%;
}

.heading {
	text-align: center;
}

.row {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.column {
	display: flex;
	flex-direction: column;
}

.row-item {
	flex: 1;
}